{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load humanize %}
{% block content %}
<!-- Main-->
<div class="content-wrap ">
    <!-- Page title-->
    <div class="position-relative py-210">
        <div class="background">
            <div class="background-image jarallax" data-jarallax data-speed="0.8"><img class="jarallax-img"
                    loading="lazy" src="{% static 'img/blog/blog-hero-1920x1080.jpg' %}" alt=""></div>
            <div class="background-color" style="--background-color: #000; opacity: .25;"></div>
        </div>
        <div class="container">
            <h2 class="text-white mb-0 text-center">وبلاگ</h2>
        </div>
    </div>
    <div class="pt-80 pb-130">
        <div class="container">
            <!-- Isotope-->
            <div class="isotope">
                <ul class="nav justify-content-center isotope-filters mb-60">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'blog:index' %}" data-filter="all">همه</a></li>
                    {% for item, count in categories.items %}
                    <pre>  </pre><li class="nav-item active"><a class="nav-link" href="{% url 'blog:category' cat_name=item %}">{{item}} - {{count}}</a></li>
                    {% endfor %}
                </ul>
                <p style="text-align: right; font-size: larger;">مجموع پست های وبلاگ : {% Total_posts as tp %}{{tp}}</p>
                <div class="row isotope-grid gy-30">
                    {% for post in posts %}
                    <div class=" isotope-item col-12 col-md-6 col-lg-4" data-filters="architecture">
                        <!-- Blog-->
                        <div
                            class="card card-blog  card-vertical card-hover-zoom card-blog-bordered rounded-4 overflow-hidden bg-white">
                            <a class="card-img rounded-0" href="{% url 'blog:single' pid=post.id %}" data-img-height
                                style="--img-height: 72%;"><span
                                    class="badge bg-dark text-white position-absolute top-0 end-0 z-index-1 mt-20 me-20">تسهیلات</span><img
                                    loading="lazy" src="{{post.image.url}}" alt=""></a>
                            <div class="card-body py-40 px-50 pb-50"><a class="card-title h5"
                                    href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a>
                                <p class="card-text">{{post.content|truncatewords:20}}</p></br>
                                <p class="pfn">نویسنده : {{post.author.get_full_name}}</p><!-- Button-->
                                <p class="pfn">تاریخ انتشار : {{post.published_at|date:'d / m / Y' }}</p><!-- Button--><a
                                    class="btn btn-accent-1 btn-link btn-clean"
                                    href="{% url 'blog:single' pid=post.id %}" target="_self">بیشتر بخوانید</a>
                                
                            </div>
                        </div>
                    </div>{% endfor %}
                </div>
                <div class="text-center mt-80">
                    {% include 'pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <form action="{% url 'blog:index' %}" method="get">
    {% csrf_token %}
    <input type="hidden" name="url" value="{{ request.path }}">
</form> -->
{% endblock %}