{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Main-->
{% if messages %}
<div id="message-container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
        <!-- <button class="close" aria-label="Close" onclick="closeMessage(this)">
        <span aria-hidden="true">×</span>
        </button> -->
    </div>
    {% endfor %}
</div>
{% endif %}
    <div class="content-wrap ">
        <div class="pt-190 pb-130 bg-linear-gradient shape-parent">
            <!-- Shape-->
            <div class="shape justify-content-end"><img loading="lazy" src="{% static 'img/root/contact-2-shape-547x414.png' %}" alt="" width="547" height="414"></div><!-- Shape-->
            <div class="shape align-items-end justify-content-start"><img loading="lazy" src="{% static 'img/root/contact-2-shape-558x364.png' %}" alt="" width="558" height="364"></div>
            <div class="container">
                <h3 class="m-0 text-center mb-100" data-show="startbox">آیا پروژه ای در ذهن دارید؟</h3>
                
                <div class="row mt-110">
                    <div class="col-lg-8 offset-lg-2">
                        <!-- Form-->
                        <form data-show="startbox" method="post" action="{% url 'website:contact' %}">
                            {% csrf_token %}
                            <div class="row gy-40">
                                <div class="col-12 col-md-6"><input class="form-control" name="first_name" type="text" placeholder="نام"></div>
                                <div class="col-12 col-md-6"><input class="form-control" name="last_name" type="text" placeholder="نام خانوادگی"></div>
                                <div class="col-12 col-md-6"><input class="form-control" name="email" type="email" placeholder="ایمیل"></div>
                                <div class="col-12 col-md-6"><input class="form-control" name="subject" type="text" placeholder="موضوع درخواست"></div>
                                <div class="col-12 mb-10"><textarea class="form-control" name="message" rows="2" placeholder="متن درخواست"></textarea></div>
                                <div class="col-12 mb-10 form-control">{{form.captcha}}</div><div class="col-12 col-lg-3 text-end text-lg-start">
                                    <!-- Button--><button class="btn btn-accent-1">ارسال</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}